/* Call to Action */
.cta {
    text-align: center;
    padding: 80px 20px 80px 20px;
    background: #fff;
    margin: 0;
}

.cta h3 {
    font-size: 36px;
    font-weight: 700;
    margin-bottom: 30px;
    color: #000;
}
