/* Sections & Content */
.section {
    max-width: 1200px;
    margin: 60px auto;
    padding: 0 20px;
    text-align: center;
}

.section-heading {
    font-size: 36px;
    font-weight: 300;
    margin-bottom: 30px;
    text-align: left;
}

.subsection-title {
    font-size: 24px;
    font-weight: 400;
    margin: 30px 0 15px;
    text-align: left;
}

.section p {
    margin-bottom: 15px;
    text-align: left;
    line-height: 1.7;
}

.float-img {
    float: right;
    margin: -90px 0 20px 30px;
    max-width: 610px;
    width: 100%;
    height: auto;
}

.video-embed {
    position: relative;
    padding-bottom: 56.25%;
    height: 0;
    overflow: hidden;
    margin: 40px 0;
}

.video-embed iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: none;
}
