/* Value Section */
.value-hero {
    width: 100vw;
    position: relative;
    left: 50%;
    right: 50%;
    margin-left: -50vw;
    margin-right: -50vw;
    background-size: cover;
    background-position: top center;
    padding: 150px 20px;
    margin-top: 0;
    margin-bottom: 0;
    min-height: 500px;
    display: flex;
    align-items: center;
}

.value-bg {
    position: absolute;
    top: -100px;
    left: 0;
    width: 100%;
    height: calc(100% + 100px);
    object-fit: cover;
    z-index: 0;
}

.value-content {
    position: relative;
    z-index: 1;
    max-width: 1200px;
    margin: 0 auto;
    width: 100%;
    text-align: left;
    padding: 0 20px;
}

.value-content h3 {
    font-size: 36px;
    font-weight: 400;
    margin-bottom: 20px;
    color: #fff;
}

.value-content p {
    font-size: 18px;
    font-weight: 400;
    line-height: 1.6;
    color: #fff;
    max-width: 600px;
}

.value-box {
    background: #1a3d5f;
    padding: 40px;
    border-radius: 8px;
    max-width: 700px;
}

.product-img {
    float: right;
    margin: -90px 0 20px 30px;
    max-width: 300px;
    width: 100%;
}
